$lg   : 1220px;
$md   : 800px;
$sm   : 576px;
$h1pl :48px;
$h1mob:34px;

.sec6 {
  margin-top: 197px;


  .section6mrpd {
    div {
      &:first-child {
        // margin-bottom: 31px;
      }

      &:nth-child(2) {
        display        : flex;
        justify-content: center;
        align-items    : center;
        flex-direction : column;

        h2 {
          margin-top : 78px;
          line-height: 140%;
        }

        p {
          margin-top     : 30px;
          line-height    : 160%;
          max-width      : 411px;
          display        : flex;
          justify-content: center;
          align-items    : center;
        }

        margin-bottom: 80px;
      }

      .section6-text-content {
        width: 100%;
        position: relative;

        div {
          padding: 0;
        }


        .sec6txt.col-6.text-end {
          display      : block;
          margin-top   : 14px;
          margin-bottom: 0px;

          // p{margin-left: 50px;}
          &::before {
            content          : "";
            position         : absolute;
            top              : 50%;
            right            : 3px;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform    : translate(-50%, -50%);
            transform        : translate(-50%, -50%);
            display          : block;
            width            : 40px;
            height           : 0;
            opacity          : .3;
            border           : 1px solid #fff;
            -webkit-transform: rotate(180deg);
            -ms-transform    : rotate(180deg);
            transform        : rotate(180deg);
          }
        }

        .text-end {
          &::before {
            content   : "";
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%, rgba(255, 255, 255, 1) 74%, rgba(255, 255, 255, 1) 100%);
            width     : 100%;
            height    : 1px;
            position  : absolute;
            top       : 50%;
            left      : 50%;
            transform : translate(-50%, -50%);
            z-index   : 50;
          }
        }

        .text-start {
          &::before {
            content   : "";
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%, rgba(255, 255, 255, 1) 74%, rgba(255, 255, 255, 1) 100%);
            width     : 100%;
            height    : 1px;
            position  : absolute;
            top       : 50%;
            left      : -40%;
            transform : translate(-50%, -50%);
            z-index   : 50;
          }
        }

        .sec6txt.col-6.text-start {

          // p{margin-right: 50px;}
          &::before {
            content          : "";
            position         : absolute;
            top              : 50%;
            left             : 3px;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform    : translate(-50%, -50%);
            transform        : translate(-50%, -50%);
            display          : block;
            width            : 40px;
            height           : 0;
            opacity          : .3;
            border           : 1px solid #fff;
            -webkit-transform: rotate(180deg);
            -ms-transform    : rotate(180deg);
            transform        : rotate(180deg);
          }
        }

        .sec6txt {
          line-height: 160%;

          p {
            margin: 0px 60px;
          }

          .color-gray {
            padding-bottom: 11px;
          }
        }
      }
    }

  }



  .section6-text-content {
    &::before {
      content     : "";
      position    : absolute;
      top         : 0%;
      left        : 50%;
      margin-right: -50%;
      transform   : translate(-50%, 0%);
      width       : 6px;
      display     : block; 
      background  : rgb(124, 106, 250);
      background  : linear-gradient(270deg, rgba(124, 106, 250, 1) 0%, rgba(200, 154, 252, 1) 100%);
      z-index     : 99;
    }


  }
}


@media screen and (max-width: 1346px) {
  .section6-text-content{
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1198px) {}

@media screen and (max-width: 990px) {}


@media screen and (max-width: $md) {}

@media screen and (max-width: 576px) {

  .sec6 {
    margin-top     : 0px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    // min-height     : 100vh;
    padding        : 15px;
  }

  .text-end {
    &::before { 
      top       : 50%;
      left      : 52% !important;
      transform : translate(-50%, -50%); 
    }
  }

  .text-start {
    &::before { 
      top       : 50%;
      left      : -42% !important;
      transform : translate(-50%, -50%); 
    }
  }

  .section6-text-content {
    max-width: 411px;
    padding: 0px 15px;
    margin : 0px;

    &::before {
      display: none !important;
    }

    .sec6 .section6mrpd div .section6-text-content .sec6txt p {
      margin: 0px !important;
    }

 

    .sec6txt {
      display       : flex;
      flex-direction: column;
      padding       : 15px 0px !important; 

      .color-gray {
        padding-bottom: 10px;
      }
    }

    .text-end {
      p {
        margin      : 0px !important;
        margin-left : 0px;
        margin-right: 40px !important;
      } 
    }

    .text-start {
      p {
        margin      : 0px !important;
        margin-left : 40px !important;
        margin-right: 0px;
      }
      
    }
  }





  .section6mrpd {
    div {

      &:nth-child(2) {
        display        : flex;
        justify-content: center;
        align-items    : center;
        flex-direction : column;

        h2 {
          margin-top: 34px !important;
          font-size : $h1mob;
        }

        p {
          margin-top: 30px;
          max-width : 411px;
        }

        margin-bottom: 40px !important;
      }
    }
  }
}