$lg   : 1220px;
$md   : 800px;
$sm   : 576px;
$h1pl :48px;
$h1mob:34px;


.sec5{
    margin-top: 222px;
    .row{
        div{
            &:first-child{
                padding: 0px;
                .txt-heading{
                    .border-gradient-heading{
                        margin-left: 7px;
                    }
                    .fs48{
                        margin-left: 39px;
                    }
                }
            }
        }
        .section5-logo-border{
            margin-left: 0px;
            padding: 0px; 
            margin-top: 77px;
  
            a{min-height: 150px;
                align-items: center;
                &:nth-child(1){ 
                    border-bottom:1px solid #4d4d4d;
                }
                &:nth-child(2){
                    border-bottom:1px solid #4d4d4d;
                    border-left:1px solid #4d4d4d;
                }
                &:nth-child(3){
                    border-bottom:1px solid #4d4d4d;
                    border-right:1px solid #4d4d4d;
                    border-left:1px solid #4d4d4d;
                }
                &:nth-child(4){ 
                    border-bottom:1px solid #4d4d4d;
                }
        
                &:nth-child(6){
         
                    border-left:1px solid #4d4d4d;;
                }
                &:nth-child(7){
         
                    border-right:1px solid #4d4d4d;;
                    border-left:1px solid #4d4d4d;;
                }
            }

            
            .top-logo-w{
                padding-left: 66px;
                padding-right: 66px;
                &:first-child{ 
                    padding-left: 54px;
                }
                &:nth-child(5){ 
                    padding-left: 54px;
                }
                &:nth-child(4){ 
                    padding-right: 60px;
                }
                &:last-child{ 
                    padding-right: 60px;
                }
            }
        } 
    }
}


@media screen and (max-width: 1346px) {}

@media screen and (max-width: 1198px) { 
}

@media screen and (max-width: 990px) { 
}
 

@media screen and (max-width: $md) { 
}

@media screen and (max-width: 576px) { 
}
 