 
 .sec7{
  margin-top: 236px;
  .row{
    .sec7-header{
      margin-bottom: 110px;
      h2{
        margin-left: 52px;
        line-height: 140%;
      }
    }
    .div-avatar {
      img {
        border-radius: 50px;
        object-fit   : cover;
        width        : 190px;
        height       : 190px;
        margin-bottom: 40px;
      } 
      .sec7-name {
        font-size    : 24px;
        margin-bottom: 22px;
      } 
      .sec7-spec {
        margin-bottom: 35px;
      }
    }
  }
 }