 .section3stylegradient {
   display: block !important;
 }

 #section3stylegradient1 {
   background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
   height    : 80px;
   margin-top: 24px  ;
 }

 #section3stylegradient2 {
   background: linear-gradient(270deg, #C89AFC 9.51%, #7C6AFA 90.23%);
   height    : 60px;
   margin-top    : 34px  ;
 }

 #section3stylegradient3 {
   background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
   height    : 30px;
   margin-top    : 49px  ;
 }

 #section3stylegradient4 {
   background: linear-gradient(270deg, #C89AFC 9.51%, #7C6AFA 90.23%);
   height    : 10px;
   margin-top    : 59px  ;
 }

 .sec3 {
   padding-top: 216px; 

   div {
     .section3 {
       .txt-heading{
         span{ 
          margin-left: -9px;
         }
         h2{
           margin-left: 40px;
         }
       }
       .sec3-text-header {
        line-height: 160%;
 
         padding-top: 38px;
         margin-left: -3px;
       }
     }

     .sec3-4box {
      padding-top: 83px;
      padding-left: 7px;
      padding-right: 0px !important;
       div {
         padding: 0px;
 
         p {
           &:first-child {
             font-family: Roboto;
             font-style : normal;
             font-weight: bold;
             font-size  : 36px;
           }
         }

         p.color-gray {
           font-size    : 14px;
           padding-right: 15px;
           line-height: 160%;
         }
 
           #sec3-graf-txtmr1{margin-top: 35px; }
           #sec3-graf-txtmr2{margin-top: 45px;}
           #sec3-graf-txtmr3{margin-top: 60px;}
           #sec3-graf-txtmr4{margin-top: 70px;}
 
       }
     }
   }
 }



 